h1 {
    text-align: center;
  }
  
  .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    margin: 3px;
    width: 35px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
  }
  